*{
    margin:0px;
    padding: 0px;
}

html, body {margin: 0; height: 100%; overflow: hidden}

h4{
    color: var(--transparent-white);
}

html{
    font-size: 16px;
}

p, pre{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--transparent-white);
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    margin-bottom: 5vh;
    color: var(--white);
}

span{
    font-family: 'Big Shoulders Display', cursive;
}

h1, p, pre{
    margin-left: 3rem;
    margin-right: 5rem;
    text-align: start;
    line-height: 3.5vh;
}

:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    --white: #ffff;
}

body{
    margin-bottom: 0px;
    background-color: hsl(64, 31%, 20%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}



div{
    padding-left: 5px;
    padding-right: 5px;
    width: 70rem;
    height: 35rem;
}

.container{
    border: 2.5px solid black;
    text-align: center;
    display: inline-flex;
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 25px;
    
}

img{
    margin-top: 7vh;
    margin-bottom: 5vh;
    margin-right: 10rem;
}

.description{
    background: var(--bright-orange);
    box-sizing: border-box;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

.uploader{
    border-left: 2.5px solid black;
    border-right: 2.5px solid black;
    background: var(--dark-cyan);
    height: auto;
}

.statistics{
    background: var(--very-dark-cyan);
    box-sizing: border-box;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}



button{
    font-size: 20px;
    border: 2px solid var(--white);
    margin-top: 5vh;
    margin-right: 6.5rem;
    background: var(--white);
    border-radius: 50px;
    width: 11rem;
    height: 3.5rem;
}

a{
    text-decoration: none;
    
}

.button-SUVs{
    color: var(--dark-cyan);
}


button:hover{
    cursor: pointer;
}


.button-SUVs-hover:hover, .button-SUVs:hover{
    color: var(--white);
    background: var(--dark-cyan);
}

.button-SUVs-hover:hover{
    color: var(--white);
    background: var(--dark-cyan);
}

.box{
    padding-top: 30px;
}


.preview{
    margin: 30px 30px;
    width: auto;
    height: 180px;
    border:2px solid var(--very-dark-cyan);
    padding: 0%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin:0;
}


.wrap {
    position: absolute;
    width:150px;
    height: 100%;
    transform: translate(65%, 0%);
  }
  
.button {
    width: 100%;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
.button:hover {
    background-color: var(--very-dark-cyan);
    box-shadow: 0px 15px 20px rgba(25, 100, 70, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

